 * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
 }

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}