
//*********************************//
//MAIN BUTTON 

.btn-main {
    border-radius: 5px;
    color: #fff;
    background-color: $color-secondary;
    display: inline-block;
    text-decoration: none;
    transition: all .2s ease;

    &:hover {
     background-color: darken($color-secondary, 10%);
     color: #fff;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

    &:active {
        transform: translateY(2px);
    }

}


//*********************************//
//BUTTON WITH RIGHT ARROW

.section-btn {
    font-size: 1.8rem;
    padding: 1rem 4rem;
    font-weight: 600;
}


.btn-right-arrow {
        fill: #fff;
        width: 2rem;
        font-weight: 300;
        margin-left: .6rem;
        transition: all .2s ease-in;

}


.section-btn:hover .btn-right-arrow {
    transform: translateX(.8rem);
}

.btn-submit {


        background: $color-secondary;
        border: 0;
        padding: 1rem 3rem;
        color: #fff;
        transition: 0.4s;
        border-radius: 4px;
        font-size: 1.6rem;
}


//*********************************//
//CARD DESIGN

.my-card {
    padding: 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    transition: all .4s ease;
    height: 100%;

    h3 {
        font-size: 2.4rem;
        color: $color-primary;
        font-weight: 700;
        margin-bottom: 1.8rem;
    }
    
    p {
        font-size: 1.6rem;
        color: $color-grey;
    }
    
    img {
        padding: 2rem 4rem;   
        transition: all .4s ease;
    }
    
    &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        img {
            transform: scale(.9);
        }
    }
}

//*********************************//
//COUNT CARD DESIGN

.count-card {
    padding: 2rem 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.6rem;
    


    .emoji {
        font-size: 5.2rem;
    }

    

    .num {
        font-size: 3.6rem;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        color: $color-primary;
        margin: 0;
    }

    .heading {
        font-size: 1.6rem;
        color: $color-grey;
        font-family: 'Nunito', sans-serif;
    }
}

//*********************************//
//CHECK CARD DESIGN

.check-card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 2.6rem 1.6rem;
    

    .icon-box {
        width: 3rem;
        height: 3rem;
        border-radius: 3px;
        background-color: $color-blue-light;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .2s ease;

    }

    .icon {
        width: 1.2rem;
        font-weight: 900;
        transition: all .2s ease;
    }

    h3 {
        margin: 0;
        font-size: 1.8rem;
        color: $color-primary;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
    }

    &:hover {
        .icon-box {
            background-color: $color-secondary;
        }
        
        .icon {
            fill: #fff;
        }
    }
}


//*********************************//
//FEATURE CARD DESIGN

.feature-card {
    display: flex;
    align-items: flex-start;
    column-gap: 2.6rem;
    
    .icon {
        width: 8rem;
        font-weight: 700;
        fill: $color-secondary;
    }

    h4 {
        font-size: 2rem;
        color: $color-primary;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        }
}


//*********************************//
//SERVICES CARD DESIGN


.service-card {
    padding: 6rem 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 2.6rem;
    border-radius: 6px;
    
    .icon-box {
        width: 8rem;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }


    .icon {
        width: 4rem;
    }


    h3 {
        font-size: 2.8rem;
        font-weight: 700;
        color: $color-grey;
    }

    p {
        color: $color-grey;
    }

    .link-box {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        cursor: pointer;
    }
    

    a {
        text-decoration: none;
        font-size: 1.6rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
    }


    .arrow-right {
        width: 1.6rem;
        transform: translateY(1.5px);
    }
}


//*********************************//
//PRICING CARD DESIGN

.pricing-card {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all .2s ease;
    position: relative;
    overflow: hidden;


    &:hover {
        transform: scale(1.1);
    }


    h3 {
        font-weight: 700;
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .price {
        font-size: 3.6rem;
        color: $color-grey;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
    }


    span {
        color: #bababa;
        font-size: 1.6rem;
        font-weight: 300;
    }

    img {
        padding: 3rem;
    }

  
    ul {
        padding: 0;
        list-style: none;
        color: $color-grey;
        text-align: center;
        line-height: 2.6rem;
        font-size: 1.6rem;
        // margin-bottom: 2.5rem;
    }

    li {
        margin-bottom: 1rem;
    }

    
    
    a {
        display: inline-block;
        padding: 1rem 4rem;
        border: 1px solid $color-secondary;
        color: $color-secondary;
        text-decoration: none;
        border-radius: 150px;
        font-size: 1.6rem;
        font-weight: 500;
        transition: all .2s ease;

        &:hover {
            background-color: $color-secondary;
            color: #fff;
        }
    }


    .featured {
        padding: .3rem 5rem;
        background-color: $color-secondary;
        position: absolute;
        top: 2.2rem;
        right: -3.8rem;
        transform: rotate(40deg);
        p {
            font-size: 1.4rem;
            margin: 0;
            color: #fff;
        }
    }
}


//*********************************//
//PORTFOLIO HOVER EFFECT 

.img-box {
    position: relative;
    overflow: hidden;
    transition: all .2s ease;

    img {
        transition: all .5s ease-in-out;
    }


    &:hover .hover-box {
        opacity: 1;
        visibility: visible;
        // display: flex;
        transform: scale(1);
       }

    &:hover img {
            transform: scale(1.2);
    }
}

.hover-box {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .4rem;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#fff, .7);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
    transform: scale(.5);
    

    h4 {
    font-size: 2rem;
    color: $color-primary;
    font-weight: 700;
   }
    

    p {
        color: $color-primary;
        font-weight: 600;
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
    }

    .icon-container {
        display: flex;
        column-gap: 1rem;
        margin-top: 1rem;
    }

    .icon-box {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: $color-secondary;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #5d6cf7;
      }
    }

    .icon {
        fill: #fff;
    }

    .icon-plus {
        width: 1.4rem;
    }

    .icon-eye {
        width: 2rem;
    }


}


.portfolio-filter {
    display: flex;
    column-gap: 1rem;

    li {
        cursor: pointer;
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1;
        color: $color-grey;
        // margin: 0 4px 8px 4px;
        transition: 0.3s;
        border-radius: 50px;
    }


    .active {
        color: $color-secondary;
        border: 1px solid currentColor;
    }
}


//*********************************//
//TEAM CARD DESIGN 

.team-card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
    border-radius: 6px;

    &:hover {
        transform: scale(1.08);


        .icon-box {
            transform: translateX(0);
        }
    }

    img {
        width: 100%;
    }

    .info-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 1.5rem;


        h4 {
            font-weight: 700;
            // margin-bottom: 5px;
            font-size: 2rem;
            color: $color-primary
        }

        span {
            font-size: 1.4rem;
            font-weight: 400;
            color: $color-grey-light;
        }

        p {
            font-style: italic;
            font-size: 1.4rem;
            padding-top: 1.5rem;
            line-height: 2.6rem;
            color: $color-grey-light-1;
        }
    }

    .icon-box {
        padding: 1.2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1.6rem;
        background-color: rgba(#fff, .5);
        position: absolute;
        border-radius: .5rem;
        top: 1rem;
        right: 1rem;
        transition: all .4s ease-in;
        transform: translateX(10rem);


        .icon {
            width: 1.6rem;
            fill: rgba($color-primary, .6);
            transition: all .2s ease;
            cursor: pointer;

            &:hover {
                fill: $color-primary;
            }
        }
    }
}

//*********************************//
//BLOG CARD DESIGN

.blog-box {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    
    &:hover {
        img {
            transform: scale(1.2) rotate(10deg);
        }

        h3 {
            color: $color-secondary;
        }
    }

    .blog-img-box {
        overflow: hidden;
    }

    img {
       transition: all .4s ease;
    }
    
    
    .text-box {
        padding: 3rem 2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // align-items: space-between;
    }
    



    span {
        font-size: 1.6rem;
        color: rgba($color-primary, .6);
        font-weight: 700;
        display: inline-block;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 2.4rem;
        color: $color-primary;
        font-weight: 700;
        margin-bottom: 1.8rem;
        transition: 0.3s;
    }

    .link-box {
        display: flex;
        align-items: center;
        column-gap: .6rem;
        color: $color-secondary;
        cursor: pointer;

    }

    a {
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 700;
        color: currentColor;
    }

    .icon-arrow-right {
        width: 1.8rem;
        transform: translateY(2px);
        fill: currentColor;
    }
}

//*********************************//
//CONTACT BOX 

.contact-box {

    background-color: #fafbff;
    padding: 3rem;


    .icon {
        font-size: 5.2rem;
        color: $color-secondary;
        margin: 0;
    }

    h3 {
        font-size: 2rem;
        color: $color-primary;
        font-weight: 700;
        margin: 2rem 0 1rem 0;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
    line-height: 2.4rem;
    font-size: 1.4rem;
    
    }

    .form-control {
        padding: 1rem 1.2rem;
        font-size: 1.4rem;

    }

    .form-control::placeholder {
        font-size: 1.4rem;
    }

    .form-control:focus {
    outline: none;
    }

    textarea {
        max-height: 17rem;
    }
}
