$color-primary: #012970;
$color-secondary: #4154f1;

$color-grey: #444444;

$color-blue: #2db6fa;
$color-blue-light: #ecf3ff;;
$color-orange:#f68c09;
$color-green: #08da4e;
$color-red: #e9222c;
$color-purple:  #b50edf;
$color-pink: #f51f9c;
$color-burgundy: #bb0852;



